table {
  margin-top: 30px;
  /* display: inline-table; */
  /* flex-direction: column; */
  /* align-items: center; */
  box-shadow: 0 0 10px #c6cccced;
  width: 370px;
  border-spacing: 0;
  margin-right: auto;
  margin-left: auto;
}
thead tr {
  margin-bottom: 5px;
  padding: 10px;
}
table th {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 5px;
  color: #524a4d;
}
table td {
  padding: 10px;
  width: inherit;
  font-weight: 700;
  font-size: 15px;
  color: #524a4d;
  /* display: flex; */
  justify-content: center;
}

table tr {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #c6cccce6;
}
table tr:not(:last-child) {
  margin-bottom: 5px;
}
